#slider {
	width: 500px;
	height: 10px;
	margin: 10px auto;
}

#sliderContainer {
	width: 600px;
	margin: auto;
}

.ui-slider-handle {
	display: none;
}

.response {
	margin: 30px;
}

.causalStatements {
	width: 25em;
	margin-bottom: 4em;
	color: gray;
}
.causalStatements li {
	margin-left: 2em;
}